*{
    margin: 0;
    padding: 0;
}

img{
    height: 500px;
}

.card{
    display: inline-block;
    position: relative;
    margin: 12px;
}
.titulo{
    text-align: center;
    color: rgb(60, 58, 184);
}
.nav-item{
    width: 200px;
}
.nav-item:hover{
    background-color: rgb(243, 243, 240);
}

@media screen and (min-width:320px) and (max-width:480px){
    .card{
        display: inline-block;
        position: relative;
        left: 25px;
    }
}
