.card{
    display: inline-block;
    position: relative;
    margin: 12px;
    left: 70px;
}
img{
    height: 300px;
}
.titulo {
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
.nav-item{
    width: 200px;
}
.nav-item:hover{
    background-color: rgb(243, 243, 240);
}

@media screen and (min-width:320px) and (max-width:480px){
    .card{
        display: inline-block;
        position: relative;
        left: 25px;
    }
}
